/* navbar */
body {
    background-color: #fcefef;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.35);
}

.scrolled {
    background-color: rgb(0, 0, 0);
}

.imgNav {
    width: 200px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item {
    margin-right: 40px;
    font-weight: 600;
    font-size: 14pt;
}

.btnlogin {
    margin-top: 5px;
}

.user {
    width: 35px;
    position: relative;
    top: -5px;
}

.cart {
    width: 20px;
    margin-right: 10px;
    margin-bottom: 2px;
}

.dropdown-toggle {
    color: #ffffff;
}

/* navbar */

/* home */
.bg-image {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 728px;
}

.desHome {
    margin-top: 280px;
}

.bg-image .btn {
    margin-top: 20px;
}

/* home */

/* tag */
.tag {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: #ffffff;
}

.tagCont {
    width: 350px;
    height: 130px;
    background-color: rgba(217, 217, 217, 0.18);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 17px;
    margin: 30px auto;
    padding: 30px;
}

.tagDesk {
    display: flex;
    flex-direction: column;
}

.rinciHarga {
    display: flex;
}

.hKecil {
    font-size: 10px;
}

.tagCont img {
    width: 80px;
    margin-left: 20px;
}

/* tag */

/* galeri */
.galeriProduk {
    margin-top: 80px;
    margin-bottom: 80px;
}

.galeriProduk .row {
    margin-left: -50px;
}

.galeriProduk h4 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.galeriProduk h5 {
    text-align: center;
}

.card {
    border-color: #000;
}

/* galeri */
.slide3 {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide3 .judul {
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 50px;
}

.slide3 .judul h2 {
    font-weight: bold;
}

.slide3 .content {
    display: flex;
    justify-content: space-around;
    /* border: #ffffff solid 1px; */
}

.slide3 .heroKontak {
    align-items: center;
    margin-bottom: 100px;
}

.slide3 .heroKontak .mapPhoto {
    width: 550px;
}

.slide3 .desKontak .googlemaps {
    background-color: #ffffff;
    width: 50%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.slide3 .desKontak .googlemaps img {
    width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.slide3 .desKontak .googlemaps h4 {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 1820px) {
    .tagCont {
        width: 330px;
        height: 130px;
        background-color: rgba(217, 217, 217, 0.18);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 17px;
        margin: 30px auto;
        padding: 30px;
    }

    .tagDesk {
        display: flex;
        flex-direction: column;
    }

    .tagCont img {
        width: 75px;
        margin-left: 20px;
    }
}

@media (max-width: 1729px) {
    .tagCont {
        width: 310px;
        height: 130px;
        background-color: rgba(217, 217, 217, 0.18);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 17px;
        margin: 30px auto;
        padding: 30px;
    }

    .tagDesk {
        display: flex;
        flex-direction: column;
    }

    .tagCont img {
        width: 75px;
        margin-left: 20px;
    }

    .tagCont p {
        font-size: 15px;
    }
}

@media (max-width: 1670px) {
    .tagCont {
        width: 290px;
        height: 130px;
        background-color: rgba(217, 217, 217, 0.18);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 17px;
        margin: 30px auto;
        padding: 30px;
    }

    .tagDesk {
        display: flex;
        flex-direction: column;
    }

    .tagCont img {
        width: 75px;
        margin-left: 20px;
    }

    .tagCont p {
        font-size: 15px;
    }
}

@media (max-width: 1547px) {
    .tagCont {
        width: 250px;
        height: 120px;
        background-color: rgba(217, 217, 217, 0.18);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 17px;
        margin: 30px auto;
        padding: 30px;
    }

    .tagDesk {
        display: flex;
        flex-direction: column;
    }

    .tagCont img {
        width: 50px;
        margin-left: 20px;
    }

    .tagCont h4 {
        font-size: 17pt;
    }

    .tagCont p {
        font-size: 9pt;
    }
}

@media (max-width: 1275px) {
    .tagCont {
        width: 200px;
        height: 100px;
        background-color: rgba(217, 217, 217, 0.18);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 17px;
        margin: 30px auto;
        padding: 30px;
    }

    .tagDesk {
        display: flex;
        flex-direction: column;
    }

    .tagCont img {
        width: 40px;
        margin-left: 20px;
    }

    .tagCont h4 {
        font-size: 15pt;
    }

    .tagCont p {
        font-size: 7pt;
    }

    .slide3 .heroKontak .mapPhoto {
        width: 400px;
    }

    .slide3 .desKontak .googlemaps {
        background-color: #ffffff;
        width: 45%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .slide3 .desKontak .googlemaps img {
        width: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
    }

    .slide3 .desKontak .googlemaps h4 {
        margin-left: 10px;
        font-size: 15px;
        font-weight: bold;
    }

    .slide3 .desKontak .rinciKontak {
        width: 60%;
    }

    .slide3 .desKontak .rinciKontak h4 {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .galeriProduk {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .galeriProduk h4 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: center;
    }

    .galeriProduk h5 {
        text-align: center;
        font-size: calc(100% - 5pt);
    }

    .galeriProduk .row {
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        border-color: #000;
        width: calc(100% - 5px);

    }
}

@media (max-width: 1155px) {
    .tagCont {
        width: 200px;
        height: 100px;
        background-color: rgba(217, 217, 217, 0.18);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 17px;
        margin: 30px auto;
        padding: 30px;
    }

    .tagDesk {
        display: flex;
        flex-direction: column;
    }

    .tagCont img {
        width: 45px;
        margin-left: 20px;
    }

    .tagCont h4 {
        font-size: 13pt;
    }

    .tagCont p {
        font-size: 8pt;
    }
}

@media (max-width: 1030px) {
    .tagCont {
        width: 180px;
        height: 100px;
        background-color: rgba(217, 217, 217, 0.18);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 17px;
        margin: 30px auto;
        padding: 30px;
    }

    .tagDesk {
        display: flex;
        flex-direction: column;
    }

    .tagCont img {
        width: 35px;
        margin-left: 20px;
    }

    .tagCont h4 {
        font-size: 10pt;
    }

    .tagCont p {
        font-size: 6pt;
    }
}

@media (max-width: 992px) {
    .slide3 .heroKontak .mapPhoto {
        width: 300px;
    }

    .slide3 .desKontak .googlemaps {
        background-color: #ffffff;
        width: 45%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .slide3 .desKontak .googlemaps img {
        width: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
    }

    .slide3 .desKontak .googlemaps h4 {
        margin-left: 10px;
        font-size: 15px;
        font-weight: bold;
    }

    .slide3 .desKontak .rinciKontak {
        width: 60%;
    }

    .slide3 .desKontak .rinciKontak h4 {
        font-weight: bold;
        margin-bottom: 5px;
    }
}

@media (max-width: 800px) {
    .tagCont {
        width: 150px;
        height: 100px;
        background-color: rgba(217, 217, 217, 0.18);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 17px;
        margin: 30px auto;
        padding: 30px;
    }

    .tagDesk {
        display: flex;
        flex-direction: column;
    }

    .tagCont img {
        width: 20px;
        margin-left: 20px;
    }

    .tagCont h4 {
        font-size: 8pt;
    }

    .tagCont p {
        font-size: 6pt;
    }
}

@media (max-width: 780px) {
    .tag {
        display: flex;
        justify-content: space-around;
        background-color: #000;
        color: #ffffff;
        flex-wrap: wrap;
    }

    .tagCont {
        width: 150px;
        height: 90px;
        background-color: rgba(217, 217, 217, 0.18);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 17px;
        margin: 15px auto;
        padding: 30px;
    }

    .tagDesk {
        display: flex;
        flex-direction: column;
    }

    .tagCont img {
        width: 20px;
        margin-left: 20px;
    }

    .tagCont h4 {
        font-size: 7pt;
    }

    .tagCont p {
        font-size: 5pt;
    }
}

@media (max-width: 768px) {
    .slide3 .heroKontak .mapPhoto {
        width: 200px;
    }

    .slide3 .desKontak .googlemaps {
        background-color: #ffffff;
        width: 45%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .slide3 .desKontak .googlemaps img {
        width: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
    }

    .slide3 .desKontak .googlemaps h4 {
        margin-left: 10px;
        font-size: 15px;
        font-weight: bold;
    }

    .slide3 .desKontak .rinciKontak {
        width: 60%;
    }

    .slide3 .desKontak .rinciKontak h4 {
        font-weight: bold;
        margin-bottom: 5px;
    }
}

@media (max-width: 425px) {
    .slide3 .judul {
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .slide3 .content {
        flex-direction: column;
        align-items: center;
    }

    .slide3 .heroKontak {
        margin-bottom: 40px;
        margin-right: 0;
    }

    .slide3 .heroKontak .mapPhoto {
        width: 90%;
    }

    .slide3 .desKontak {
        width: 90%;
    }

    .slide3 .desKontak .googlemaps {
        width: 100%;
    }

    .slide3 .desKontak .rinciKontak {
        width: 100%;
    }

    .nav-item {
        margin-right: 10px;
        font-weight: 600;
        font-size: 14pt;
    }

    .imgNav {
        width: 200px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tag {
        display: flex;
        justify-content: space-around;
        background-color: #000;
        color: #ffffff;
        flex-wrap: wrap;
    }

    .tagCont {
        width: 150px;
        height: 90px;
        background-color: rgba(217, 217, 217, 0.18);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 17px;
        margin: 15px auto;
        padding: 30px;
    }

    .tagDesk {
        display: flex;
        flex-direction: column;
    }

    .tagCont img {
        width: 20px;
        margin-left: 20px;
    }

    .tagCont h4 {
        font-size: 7pt;
    }

    .tagCont p {
        font-size: 5pt;
    }
}